/* shared styles */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.hide{
    visibility: none;
}
main>section{
    margin-top: 60px;
}

main {
    width: 100%;
    margin: 0 auto;
    background-image: url("../assets/bg.png");
}



.display-flex{
    display: flex;
}
body{
    font-family: Quicksand;
}
.bg-1{
    color:rgb(254, 163, 1);
}
.bg-2{
color:rgb(1, 172, 253);
}
.bg-3{
color: rgb(5, 212, 223);
}
.bg-4{
    color:rgb(93, 88, 239)
}
/* navbar and header styles */

.navbar{
    max-width: 1160px;
    margin: 18px auto;
    justify-content: space-between;
    align-items: center;
}
nav>img{
    width: 62px;
}
.nav-logo{
    justify-content: center;
    align-items: center;
    gap:5px;
}
.nav-items {
    list-style: none;
    margin-right: 30px;
}

.nav-link {
    text-decoration: none;
    font-weight: 500;

}
.contact-btn{
    width: 197px;
    border-radius: 12px;

/* Orange */
background-color: rgb(254, 163, 1);
color: white;
padding: 10px;
font-size: 1.25rem;
font-weight: 600;
border: none;
}
.contact-btn:hover{
    background-color: rgba(254, 161, 1, 0.454);
    cursor: pointer;
}
.hr{
    display:none;
    background-color: rgb(254, 163, 1);
}

.banner{
    max-width:1158.61px;
    margin:0 auto;
}
.banner{
    justify-content: center;
    align-items: center;
}
.banner-img>img{
    width: 100%;
}
.banner-content{
    max-width: 640px;
    margin-right: 50px;
}
.banner-title{
    font-size: 3.5rem;
    font-weight: 700;
}
.banner-info{
    font-size: 1.25rem;
    font-weight: 400;
    margin: 24px 0;
}
.enroll-btn{
    width: 197px;
    padding: 10px;
    border-radius: 12px;
    font-size: 1.25rem;
    font-weight: 700;
    /* Black */
    background: rgb(17, 17, 17);
    color: white;
}
.enroll-btn:hover{
background-color:  rgba(17, 17, 17, 0.51);
cursor: pointer;
}

.menu-bar{
    display: none;
    font-size: 24px;
    cursor: pointer;
    margin-right: 10px;
}
marquee>div{
    justify-content: center;
    align-items: center;
}
/* standard-curriculum styles */

.standard-curriculum{
    max-width: 1158.61px;
    margin: 0 auto;
}


.section-title{
    text-align: center;
    margin-top: 60px;
    margin-bottom: 80px;

}
.section-title>h2{
    font-size: 2.8rem;
    font-weight: 700;
}


.standard-curriculum-box-1,.standard-curriculum-box-2,.standard-curriculum-box-3{
    /* max-width: 1160px; */
    text-align: center;
    padding: 40px;
}
.standard-curriculum-box-1>h3,.standard-curriculum-box-2>h3,.standard-curriculum-box-3>h3{
    font-size: 1.53rem;
    font-weight: 700;
    margin-top: 32.8px;
}
.standard-curriculum-box-1>p,.standard-curriculum-box-2>p,.standard-curriculum-box-3>p{
    font-size: 1rem;
    font-weight: 500;
    color:rgb(128, 128, 128);
    margin: 33.95px 0;
}
.standard-curriculum-box-1>a,.standard-curriculum-box-2>a,.standard-curriculum-box-3>a{
    text-decoration: none;
}
.standard-curriculum-box-1{
    border: 0.94px solid rgb(222, 245, 255);
    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    border-radius: 18.86px;
    background: linear-gradient(180.00deg, rgb(222, 245, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
}
.standard-curriculum-box-2{
    border: 0.94px solid rgb(255, 244, 220);
    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
border-radius: 18.86px;
background: linear-gradient(180.00deg, rgb(255, 244, 220),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
}
.standard-curriculum-box-3{
    border: 0.94px solid rgb(242, 232, 255);
    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    border-radius: 18.86px;
    background: linear-gradient(180.00deg, rgb(238, 225, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
}

.standard-curriculum-container{


    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:28.29px;
  
    
}
.arrow-btn{
 color: white;
    border-radius: 90px;
    padding: 17px,22px,19px,23px;

/* Orange */
background: rgb(254, 163, 1);
width:50px;
height:50px;
border: none;
text-align: center;
border: none;


}
.arrow-btn:hover{
    background-color: rgba(254, 161, 1, 0.264);
    cursor: pointer;
}
.arrow-center{
    display: flex;
    justify-content: center;
    gap:5px;
    margin-top: 80px;
}

/* our-stories section styles */

.our-stories{
    background: url(../assets/bg.png),linear-gradient(0.00deg, rgba(254, 163, 1, 0.3),rgba(255, 255, 255, 0.3) 100%);
    /* width:1440px; */

        /* max-width: 1158.61px; */
        /* margin: 0 auto; */
    
}
.our-stories-container{
    max-width: 1158.61px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:19px;
    position: relative;
}

.story-img{
 border-radius: 16px 16px 0px 0px;
}
/* .story-box-2,.story-box-3,.story-box-4,.story-box-5{
    max-width: 290.69px;

} */

.story-1-content{
    padding:61.51px 68.86px 34.52px 38.35px;
}
.story-box-1{
    grid-row:span 2;
    border-radius: 16px;
background: rgb(255, 255, 255);
}
.story-box-2,.story-box-3,.story-box-4,.story-box-5,.story-box-6,.story-box-7{
    background: rgb(255, 255, 255);
    border-radius: 16px;
}
.story-box-6,.story-box-7{
    display: none;
}
.story-title-1{
    font-size: 1.5rem;
    font-weight: 700;
}
.story-title{
    font-size: 1.2rem;
    font-weight: 700;
    padding: 32px;

 
}

.story-info{
    font-size: 0.9rem;
    font-weight: 500;
   color:  rgb(102, 102, 102);
   margin-top: 51.77px;
}
/* .story-img{
    width:100%;
} */
.story-1-btn{
    width: 174.51px;
height: 47.93px;
border-radius: 47.93px;

background: rgb(60, 216, 232);
color: white;
font-size: 1rem;
font-weight: 500;
border: none;
position: absolute;
top: 320px;
}
.story-2-btn{
    width: 174.51px;
height: 47.93px;
border-radius: 47.93px;

border-radius: 47.93px;

background: rgb(149, 178, 38);
color: white;
font-size: 1rem;
font-weight: 500;
border: none;
position: absolute;
top: 150px;
margin-left: 25px;
}
.story-3-btn{
    width: 174.51px;
height: 47.93px;
border-radius: 47.93px;

border-radius: 47.93px;

background: rgb(93, 88, 240);
color: white;
font-size: 1rem;
font-weight: 500;
border: none;
position: absolute;
top: 150px;
margin-left: 25px;
}
.story-4-btn{
    width: 174.51px;
height: 47.93px;
border-radius: 47.93px;

border-radius: 47.93px;

background: rgb(149, 178, 38);
color: white;
font-size: 1rem;
font-weight: 500;
border: none;
position: absolute;
top: 470px;
margin-left: 25px;
}
.story-6-btn{
    width: 174.51px;
height: 47.93px;
border-radius: 47.93px;

border-radius: 47.93px;

background: rgb(149, 178, 38);
color: white;
font-size: 1rem;
font-weight: 500;
border: none;
position: absolute;
top: 470px;
margin-left: 25px;
}
.story-7-btn{
    width: 174.51px;
height: 47.93px;
border-radius: 47.93px;

border-radius: 47.93px;

background: rgb(149, 178, 38);
color: white;
font-size: 1rem;
font-weight: 500;
border: none;
position: absolute;
top: 470px;
margin-left: 25px;
}
.story-5-btn{
    width: 174.51px;
height: 47.93px;
border-radius: 47.93px;

border-radius: 47.93px;

background: rgb(149, 178, 38);
color: white;
font-size: 1rem;
font-weight: 500;
border: none;
position: absolute;
top: 470px;
margin-left: 25px;
}
.view-center{
    text-align: center;
    /* margin: 50px auto; */
}
.view-btn{
    width: 197px;
    padding: 10px;
    border-radius: 12px;
    font-size: 1.25rem;
    font-weight: 700;
    /* Black */
    background: rgb(17, 17, 17);
    color: white;
    margin: 80px auto 60px auto;
}
.view-btn:hover{
background-color:  rgba(17, 17, 17, 0.51);
cursor: pointer;
}

/* footer styles */
footer{
    background-color:rgb(1, 172, 253);
   /* height: 519px; */
    
  

}
.footer-container{
    max-width:1070.91px;
    margin: 0 auto;
    padding: 123px 0 174px 0px;
    display: grid;
grid-template-columns: repeat(3,1fr);
justify-items: center;
gap: 175px;


}
.footer-items{
    color: white;
    list-style: none;
    margin-top: 20px;
    margin-bottom: 20px;
 
}
.keep-title{
    margin-bottom: 35px;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 700;
    color: white;
}
.footer-logo-info{
    width: 339px;
    margin-top: 35px;
    color: white;
    font-size: 1rem;
    font-weight: 400;
}
.footer-logo-title{
    color: white;
    font-size: 2rem;
    font-weight: 700;
}




/* smaller screen devices */
@media screen and (max-width:576px) {
.navbar-title,.nav-items,.nav-link,.contact-btn{
    display: none;
}
.hr{
    display: block;
}
/* body{
    border: 1px solid red;
} */
.banner{
    flex-direction: column-reverse;
    /* margin: 0 10px; */
 
}

.banner-content{
    text-align: center;
    margin-right: 0px;
    /* margin-left:10px; */
}
.banner-title{
    font-size: 2.3rem;
}
.banner-img{
    width: 336.58px;
}
.banner-info{
    font-size: 1rem;
}
.standard-curriculum-container{
    grid-template-columns: repeat(1,1fr);
    justify-items: center;
    margin: 0 auto;
}
.standard-curriculum-box-1,.standard-curriculum-box-2,.standard-curriculum-box-3{
    width: 90%;
    padding: 20px;
    text-align: center;
    /* margin: 0 10%; */
}
.arrow-center{
    display: none;
}
.section-title{
    margin-bottom: 10px;
}
.section-title>h2{
    font-size: 1.7rem;

}
.menu-bar{
    display: block;
}
.section-title{
    margin-bottom: 20px;
}
.our-stories-container{

    grid-template-columns: repeat(2,1fr);
    justify-items:center;
    gap:5px;
    position: relative;
    margin-left:5px;
 
}
.story-box-1{
    display: none;
}
.story-box-2,.story-box-3,.story-box-4,.story-box-5,.story-box-6,.story-box-7{
    width:173px;
    height:179px;
    margin-bottom: 5px;
   
}

.story-img{
    width:100%;
}
.story-title{
    font-size: 0.6rem;
    font-weight: 700;
    padding: 22px;
}
.story-box-6,.story-box-7{
    display: block;
}
.story-2-btn,.story-3-btn,.story-4-btn,.story-5-btn,.story-6-btn,.story-7-btn{
width:106px;
height: 30px;
font-size: 0.7rem;
}
.story-2-btn{
position: absolute;
top:90px;
}
.story-3-btn{
position: absolute;
top:90px;
}
.story-4-btn{
position: absolute;
top: 280px;
}
.story-5-btn{
position: absolute;
top: 280px;
}
.story-6-btn{
position: absolute;
top: 460px;
}
.story-7-btn{
position: absolute;
top: 460px;
}
.view-btn{
    margin-top: 20px;
    margin-bottom: 40px;
}

.footer-container{
    grid-template-columns: repeat(1,1fr);
    gap:20px;
    justify-items: baseline;
    margin-left:30px;
    padding-bottom:50px;
}
.marq{
    display: none;
}
}

















/* medium devices */
@media screen and (min-width:576px) and (max-width:992px) {
.navbar,.banner{
    margin:10px 50px;
}
.banner-title{
    font-size: 2.3rem;
}
.banner-content{
    margin-top: 20px;
}
.banner-img{
    width: 336.58px;
}
.banner-info{
    font-size: 1rem;
}
}